html {overflow-y: scroll}
body{max-width:800px;margin:40px auto;padding:0 10px;font:monospace;color:#444}h1,h2,h3{line-height:1.2}@media (prefers-color-scheme: dark){body{color:white;background:#444}a:link{color:#5bf}a:visited{color:#ccf}}
code{color: #FFFFFF; background:#000000; padding:2px}
pre{color: #FFFFFF; background:#000000; padding:24px; white-space: pre-wrap}
article{padding:20px 0}
blockquote {border-left: 0.15em solid #ccc; margin: 0.5em; padding-left: 0.5em}
blockquote p {display: inline}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
