<!-- copy pasted from  tpl/template_embedded.go -->
<!-- default pagination.html creates <ul class="pagination"> and then a list of links for counters, forwardw and backward
     while Octopress uses <div class="pagination"> and links inside-->

{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="pagination">

    {{ if $pag.HasPrev }}
    <!-- <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous" class="label-pagination"><span aria-hidden="true">&laquo;</span></a> -->
    <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}">&lt;</a>
    {{ end }}

    {{ range $pag.Pagers }}
        <a href="{{ .URL }}" class="label-pagination">{{ .PageNumber }}</a>
    {{ end }}

    {{ if $pag.HasNext }}
    <!-- <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next" class="label-pagination"><span aria-hidden="true">&raquo;</span></a> -->
        <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}">&gt;</a>
    {{ end }}

    {{ with $pag.Last }}
    <!-- <a href="{{ .URL }}" aria-label="Last"><span aria-hidden="true" class="label-pagination">&raquo;&raquo;</span></a> -->
        <a href="{{ .URL }}" aria-label="Last"><i class="fa fa-angle-double-right fa-lg"></i></a>
    {{ end }}

</div>
{{ end }}
